// general
body {
	color: black;
	text-align: center;
	line-height: 120%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: large;
	background-image: linear-gradient(to top, #93E1D8, #DDFFF7);
	background-attachment: fixed;
}

div {
	display: block;
}

a:link,
a:visited {
	color: #AA4465;
}

summary u:hover,
a:hover {
	color: #462255;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol {
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	padding-left: 20px;
}

#cyberpunk {
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: -2;
	scale: 60%;
	transform-origin: 100% 102%;
}

footer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 4096;
	width: fit-content;
	text-align: left;
	padding-bottom: 3px;
	padding-right: 5px;
	border-top: 5px solid #AA4465;
	border-left: 5px solid #AA4465;
	border-radius: 15px 0px 0px 0px;
	background-image: linear-gradient(to top, #42e3ad, #0aff9d);
}

// windows
.win-outer {
	position: absolute;
	text-align: left;
	border: #AA4465 solid 5px;
	border-radius: 5px;
	box-shadow: 5px 3px #462255;
	background-color: #EEE;
	overflow: hidden;
	color: #000;
}

.win-titlebar {
	font-size: x-large;
	display: flex;
	padding-left: 10px;
	cursor: grab;
	user-select: none;
	border-bottom: #AA4465 solid 5px;
	background-image: linear-gradient(to top, #93E1D8, #DDFFF7)
}

.win-titlebar:active {
	cursor: grabbing;
}

.win-titlebar p {
	text-shadow: #462255 1px 1px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.title {
	font-family: 'VT323';
	font-weight: bold;
	color: #AA4465;
}

.tab-outer {
	height: 90%;
}

.tab-titlebar {
	height: 34px;
	display: flex;
}

.tab-titlebar>.title {
	width: 0;
	flex: 1 1 0px;
	text-align: center;
	text-shadow: #462255 1px 1px;
	display: inline;
	border-bottom: #AA4465 solid 5px;
	border-right: #AA4465 solid 5px;
	padding: 5px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #93E1D8, #DDFFF7)
}

.tab-titlebar>.title:hover {
	color: white;
	text-shadow: #462255 2px 2px;
	background-image: none;
	background-color: #AA4465;
}

.tab-titlebar>.title:last-child {
	border-right: none;
}

.tab-titlebar>.active {
	color: #462255;
	text-shadow: white 1px 1px;
	background-image: linear-gradient(to top, #42e3ad, #0aff9d);
}

.win-minimized {
	font-family: 'VT323';
	font-size: x-large;
	display: inline-flex;
	padding: 5px;
	border: #AA4465 solid 5px;
	border-radius: 5px;
	vertical-align: middle;
	cursor: pointer;
	margin: 5px;
	width: 200px;
	box-shadow: 5px 3px #462255;
	background-image: linear-gradient(to right, #93E1D8, #DDFFF7)
}

// images
.favicon {
	background-image: url("/assets/favicon.ico");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	padding: 0;
	width: 32px;
	height: 32px;
}

.win-close {
	background-image: url("/assets/close-window.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #AA4465;
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin: 7px;
	margin-left: auto;
	cursor: not-allowed;
	box-shadow: 2px 2px #462255;
}

.win-close:hover {
	background-image: url("/assets/close-window-hover.png");
}

.external-link>span {
	background-image: url("/assets/external-link.png");
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	offset: bottom 100px;
	width: 14px;
	height: 14px;
}

.external-link:hover>span {
	background-image: url("/assets/external-link-hover.png");
}

.win-content {
	max-width: 100%;
	padding: 0px;
}

.loading-img {
	background-image: url("/assets/infinity.svg");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.wait {
	cursor: wait;
}

#my-music-win>.win-content>div {
	background-image: url("/assets/wireless-nature.png");
	background-position: center;
	background-repeat: no-repeat;
	scale: 110%;
	width: 100%;
	height: 100%;
}

// mobile view
@media (max-width: 900px) {
	.win-outer {
		position: inherit;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		max-width: 90%;
	}

	#ad-win {
		display: none;
	}

	#meta-win>.win-content {
		overflow: hidden;
	}

	.win-content {
		overflow-y: auto;
		padding-top: 1px;
	}
}

#webring-win>.win-content {
	background-color: #454545;
	cursor: alias;
}

details:not([open]) {
	cursor: pointer;
}

// style override classe
.spaced {
	padding-bottom: 10px;
}

.external-link {
	cursor: alias;
}

.scroll {
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.rainbow {
	background: linear-gradient(24deg, #d593db, #ebc0ef, #ef9e91, #f9a4a4, #d8bf6b, #dedf91, #74e186, #7edce1, #a29cef);
	background-size: 800% 800%;
	animation: rainbow 30s ease infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}

.diag {
	margin: 0;
	overflow: hidden;
	background: linear-gradient(45deg, #ff78e0 25%, #0aff9d 25%, #0aff9d 50%, #ff78e0 50%, #ff78e0 75%, #0aff9d 75%, #0aff9d);
	background-size: 50px 50px;
	animation: diag 6s linear infinite;
}

.diag-tp {
	margin: 0;
	overflow: hidden;
	background: linear-gradient(-45deg, #ffff63 25%, #000099 25%, #000099 50%, #ffff63 50%, #ffff63 75%, #000099 75%, #000099);
	background-size: 100px 100px;
	animation: diag-tp 15s linear infinite;
}

@keyframes diag-tp {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0px 100px;
	}
}

@keyframes diag {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0px 50px;
	}
}

.hidden {
	visibility: hidden;
	display: none;
}