body {
	color: black;
	text-align: center;
	line-height: 120%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: large;
	background-image: linear-gradient(to top, #93E1D8, #DDFFF7);
	background-attachment: fixed;
}

main {
	overflow: auto;
}

summary u {
	color: #AA4465;
}

a:link,
a:visited {
	color: #AA4465;
}


summary u:hover,
a:hover {
	color: #462255;
}

div {
	display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol {
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	padding-left: 20px;
}

.spaced {
	padding-bottom: 10px;
}


.win-outer {
	position: absolute;
	text-align: left;
	border: #AA4465 solid 5px;
	box-shadow: 5px 3px #462255;
	background-color: #EEE;
	color: #000;
}

.win-titlebar {
	font-size: x-large;
	display: flex;
	padding-left: 10px;
	cursor: move;
	user-select: none;
	border-bottom: #AA4465 solid 5px;
	background-image: linear-gradient(to top, #93E1D8, #DDFFF7)
}

.win-titlebar p {
	text-shadow: #462255 1px 1px;
	margin: 0px;
	padding-top: 5px;
}

.title {
	font-family: 'VT323';
	font-weight: bold;
	color: #AA4465;
}

.tab-titlebar {
	display: flex;
}

.tab-titlebar>.title {
	width: 0;
	flex: 1 1 0px;
	text-align: center;
	text-shadow: #462255 1px 1px;
	display: inline;
	border-bottom: #AA4465 solid 5px;
	border-right: #AA4465 solid 5px;
	padding: 5px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #93E1D8, #DDFFF7)
}

.tab-titlebar>.title:hover {
	color: white;
	text-shadow: #462255 2px 2px;
	background-image: none;
	background-color: #AA4465;
}

.tab-titlebar>.title:last-child {
	border-right: none;
}

.tab-titlebar>.active {
	color: #462255;
	text-shadow: white 1px 1px;
	background-image: linear-gradient(to top, #42e3ad, #0aff9d);
}

.win-minimized {
	font-family: 'VT323';
	font-size: x-large;
	display: flex;
	padding: 5px;
	border: #AA4465 solid 5px;
	display: inline-table;
	cursor: pointer;
	margin: 5px;
	width: 200px;
	box-shadow: 5px 3px #462255;
	background-image: linear-gradient(to right, #93E1D8, #DDFFF7)
}

.win-close {
	margin: 7px;
	margin-left: auto;
	float: right;
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/close-window.png");
	image-rendering: pixelated;
	background-color: #AA4465;
	box-shadow: 2px 2px #462255;
}

.win-close:hover {
	background-image: url("/assets/close-window-hover.png");
}

.external-link {
	display: inline-block;
	offset: bottom 100px;
	width: 14px;
	height: 14px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/assets/external-link.png");
	image-rendering: pixelated;
}

a:hover>.external-link {
	background-image: url("/assets/external-link-hover.png");
}

.win-content {
	padding: 10px;
}

@media (min-width: 901px) {
	#about-win {
		width: 640px;
	}

	#education-win {
		width: 400px;
	}

	#projects-win,
	#skills-win {
		width: 550px;
	}

	#file-win {
		width: 800px;
	}

	#loading-win {
		width: 225px;
	}

	#ad-win {
		width: 200px;
	}
}

@media (max-width: 900px) {
	.win-outer {
		position: inherit;
		margin: 10px;
	}

	.win-content {
		width: auto;
	}

	#ad-win {
		display: none;
	}
}

div.win-content :last-child {
	margin-bottom: 0px;
}

#loading-win>.win-content {
	padding: 0px;
	background: linear-gradient(124deg, #ef9e91, #f9a4a4, #d8bf6b, #dedf91, #74e186, #7edce1, #a29cef, #d593db, #ebc0ef);
	background-size: 1800% 1800%;
	cursor: help;
	animation: rainbow 60s ease infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}

#projects-win>div>div.win-content {
	height: 265px;
	overflow-y: auto;
}

#skills-win>div>div.win-content {
	height: 265px;
	overflow-y: auto;
}

#ad-win>.win-content {
	padding: 0px;
}

details:not([open]) {
	cursor: pointer;
}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding-bottom: 3px;
	border-top: 5px solid #AA4465;
	background-image: linear-gradient(to top, #42e3ad, #0aff9d);
}

.hidden {
	visibility: hidden;
	display: none;
}